etc/autotools/
Makefile.in
build
.emacs
*.rst
doxygen
sphinx
aclocal.m4
autom4te.cache/
configure

include/dbg.h
doc/doxygen/
extern
lib
*.o
*.d
a.out
*~
config.mk

/docs/doxygen-awesome-css/
/atrip.html
/TAGS
