*.swo
*.swp
etc/autotools/
Makefile.in
build
.emacs
*.rst
doxygen
sphinx
aclocal.m4
autom4te.cache/
configure

include/dbg.h
doc/doxygen/
lib
*.o
*.d
a.out
*~
config.mk

/docs/doxygen-awesome-css/
/atrip.html
/TAGS
/config.h.in
/result
/result-dev
/vendor/
/.cache/
/compile_commands.json
\#*
libatrip.a
/.dir-locals.el
